/* JOSEFIN-SANS FONT START */
@font-face{
    font-family: 'Jos000';
    src: url('Fonts/Josefin_Sans/JosefinSans-Thin.ttf');
}

@font-face{
    font-family: 'Jos100';
    src: url('Fonts/Josefin_Sans/JosefinSans-ExtraLight.ttf');
}

@font-face{
    font-family: 'Jos200';
    src:url('Fonts/Josefin_Sans/JosefinSans-Light.ttf')
}

@font-face{
    font-family: 'Jos300';
    src: url('Fonts/Josefin_Sans/JosefinSans-Medium.ttf');
}

@font-face{
    font-family: 'Jos400';
    src: url('Fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face{
    font-family: 'Jos500';
    src: url('Fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
}

@font-face{
    font-family: 'Jos600';
    src: url('Fonts/Josefin_Sans/JosefinSans-Bold.ttf');
}
/* JOSEFIN-SANS FONT END */


/* ROBOTO FONT START */
@font-face {
    font-family: 'Rob000';
    src: url('Fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Rob100';
    src: url('Fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Rob200';
    src: url('Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Rob300';
    src: url('Fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Rob400';
    src: url('Fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Rob500';
    src: url('Fonts/Roboto/Roboto-Black.ttf');
}
/* ROBOTO FONT END */


/*
        GENERAL SET UP

    -- FONTS --
    Buttons Font: Rob 
    Headung Font: Jos
    Paragraphs Fonts: Rob

    -- COLORS --
    Green Background: Use  color White
    Purple Background: Use color  White
    Gold Background: Use color Black

    -- MESSAGES --
    Font : Use Rob

    --  BUTTONS --
    Font: Use Rob
    Color:Use white
    Background: Use Green

*/

:root{
    /*     -- COLORS --   */
    --Green-Color:#006400;
    --Purple-Color:#3C2035;
    --Purple-Color2:#CBA3DD;
    --Gold-Color:#eeac05;
    --Gold-Color2:#1a1302;
    --Black-Color:#000000;
    --White-Color:#ffffff;

    /*  -- BACKGROUND COLOR --  */
    --Green-Bg-Color:#006400;
    --Purple-Bg-Color:#3C2035;
    --Gold-Bg-Color:#eeac05;
    --Black-Bg-Color:#000000;
    --White-Bg-Color:#ffffff;

    /*  -- Messages--   */
    --Danger-Background-Color:#ff000091;
    --Danger-Text-Color:#ffffff;
    --Danger-Border-Color:#ff0000;

    --Warning-Background-Color:#eeac059a;
    --Warning-Text-Color:#1a1302;
    --Warning-Border-Color:#eeac05;

    --Success-Background-Color:#0064009d;
    --Success-Text-Color:#ffffff;
    --Success-Border-Color:#006400;

    /*  -- ICON COLOR --     */
    --icon-white-color:#ffffff;
    --icon-black-color:#000000;
    --icon-Gold-color:#eeac05;
    --icon-Red-color:#ff0000;
    --icon-Green-color:#0064009d;

    /*  -- BORDER COLOR --  */
    --Border-color1:#000000;
    --Border-color2:#1a1302;
    --Border-Checked-Color:#0064009d;
    --Border-Error-Color:#ff0000;

    /*  -- SELECTION COLOR  --   */
    --selection-color-1:#eeac05
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::selection{
    background-color: var(--selection-color-1);
}

.Wrapper{
    position: relative;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--Black-Bg-Color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Logo img{
    width: 60px;
}

.Navigation{
    position: relative;
}

.Navigation svg{
    width: 40px;
    cursor: pointer;
    color: var(--icon-Gold-color);
}

.Base{
    position: fixed;
    top: 60px;
    width: 510px;
    filter: drop-shadow(1px 1px 3px var(--Black-Bg-Color));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    background-color: var(--White-Bg-Color);
    display: flex;
    flex-direction: column;
}

.Base.Activate{
    display: flex;
}


.Password_Instruction{
    position: absolute;
    top: 20px;
    left: 4px;
    width: 98%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 3px;
    transition: display 0.3s;
}

.Password_Instruction img{
    width: 25px;
    margin: 5px 0;
}

.Password_Instruction > p{
    font-family: 'Rob200';
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    padding: 10px 0 5px 0;
}

.Password_Wrap{
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
}

.Password{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    transition: color .5s ease-in-out;
}

.Password p{
    font-family: 'Rob100';
    font-size: 15px;
    color: var(--Black-Color);
    text-transform: capitalize;
}

.Password .bi-x{
    width: 25px;
    color: var(--icon-Red-color);
    display:flex;
}


.Password .bi-check {
    width: 25px;
    display: flex;
    color: var(--icon-Green-color);
}



.Navigation_Header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    width: 100%;
}

.Navigation_Cancel{
    position: absolute;
    top: -2px;
    right: 0;
    width:25px;
    cursor: pointer;
    color: var(--icon-Gold-color);
}

.LogReg{
    display: flex;
    width: 100%;
    background-color: var(--Gold-Bg-Color);
    padding: 10px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.LogReg svg{
   width:20px;
   margin: 0 5px;
}

.LogReg p{
  font-family: 'Rob400';
}

.Login{
    border-radius: 3px 0 0 0;
}

.Register{
    border-radius: 0 3px 0 0;
    background-color: var(--Black-Bg-Color);
}

.Register svg,
.Register p{
  color: var(--Gold-Color);
}

.Navigation_Detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    position: relative;
}

.Navigation_Detail img{
    margin: 5px 0 0 0;
    width: 20px;
}

.Messages_Wrapper{
    display: none;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 1;
}

.General_Message_Style{
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 5px auto;
    border-radius: 3px;
}

.General_Message_Style p{
    font-family: 'Rob300';
    padding: 5px 10px;
    text-transform: capitalize;
}

.Success{
    background-color: var(--Success-Background-Color);
    border:2px solid var(--Success-Border-Color);
    color: var(--Success-Text-Color);
}

.Warning{
    background-color: var(--Warning-Background-Color);
    border:2px solid var(--Warning-Border-Color);
    color: var(--Warning-Text-Color);
}

.Danger{
    background-color: var(--Danger-Background-Color);
    border:2px solid var(--Danger-Border-Color);
    color: var(--Danger-Text-Color);
}

.Login_Details,
.Register_Details{
    margin: 5px 0;
    padding: 0 10px;
    width: 100%;
    display: none;
    flex-direction: column;
}

.Register_Details{
    display: flex;
    position: relative;
}

.Login_Detail_top,
.Login_Detail_Middle,
.Login_Detail_Bottom,
.Register_Details_top,
.Register_Details_Middle,
.Register_Details_Bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Login_Detail_top h3,
.Register_Details_top h3{
    font-family: 'Rob300';
    text-transform: uppercase;
}

.Login_Detail_top p,
.Register_Details_top p{
    font-family: 'Rob200';
}

.Form_Group {
    position: relative;
    margin: 21px 0;
}

.Form_Group input {
    border: none;
    padding: 5px 15px 5px 35px;
    font-size: 14px;
    border: 1px solid var(--Border-color1);
    border-radius: 3px;
    outline: none;
    width: 100%;
    transition: border .2s ease-in-out;
}

.Form_Group.Checked input {
 border: 1px solid var(--Border-Checked-Color);
}

.Form_Group.Error input {
 border: 1px solid var(--Border-Error-Color);
}

.Form_Group p{
    position: absolute;
    bottom: -12.5px;
    left: 0;
    font-size: 13px;
    font-family: 'Rob100';
    text-transform: capitalize;
    color: var(--Border-Error-Color);
    visibility: hidden;
    transition: visibility .2s ease-in-out;
}

.Form_Group.Error p{
    visibility: visible;
}


#Username.Form_Group input {
    border: 1px solid var(--Border-color1);
}


.Form_Group label {
    position: absolute;
    top: .3rem; 
    left: 2.5rem;
    color: var(--Border-color1);
    font-family: 'Rob300';
    transition: top 0.5s, font-size 0.5s, color 0.5s;
    pointer-events: none; 
    text-transform:capitalize;
}

.Input_Icon{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
}

.Form_Group button{
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: var(--Gold-Bg-Color);
    padding: 2px 5px;
}



.Form_Group button svg{
    width: 20px;
    color: var(--icon-black-color);
}

.Form_Group input:focus ~ label,
.Form_Group input:not(:placeholder-shown) ~ label {
    top: -12px; 
    left: 0;
    font-size: 12px; 
    color: #212121;
}

.Form_Button{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-family: 'Rob500';
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--Gold-Bg-Color);
    color: var(--Gold-Color2);
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.Form_Button:hover{
    transform: scale(1.02);
}

.Other_Form_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0 ;
}

.Other_Form_link p{
    font-family: 'Rob200';
    padding: 0 5px;
    text-align: center;
}

.Other_Form_link a{
    font-family: 'Rob200';
    text-decoration: none;
    color: var(--Gold-Color);

}

.Line_Seperator{
    text-align: center;
    margin: 5px 0;
    position: relative;
    font-family: 'Rob200';
}

.Line_Seperator::before{
    position: absolute;
    top: 10px;
    left: 5px;
    content: '';
    width: 45%;
    height: 1px;
    background-color: #000000;
}

.Line_Seperator::after{
    position: absolute;
    top: 10px;
    right: 5px;
    content: '';
    width: 45%;
    height: 1px;
    background-color: #000000;
}

.Login_Detail_Bottom,
.Register_Details_Bottom{
    flex-direction: row;
    justify-content: space-between;
}

.External_Authentication_wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 49%;
    padding: 10px 5px;
    background-color: var(--Gold-Bg-Color);
    border-radius: 3px;
}

.External_Authentication_wrap svg{
    width: 20px;
    color: var(--icon-black-color);
}

.External_Authentication_wrap a {
    text-decoration: none;
    color: var(--Gold-Color2);
    font-family: 'Rob300';
    text-transform: capitalize;
}

@media screen and (max-width:560px){
    .Navigation svg{
        width: 30px;
    }

    .Base{
        width:90%;
        top: 40px;
    }

    .Logo img{
        width: 40px;
    }

    .Form_Group button{
        margin: 0 ;
    }
    
    .Login_Detail_Bottom,
    .Register_Details_Bottom{
        flex-direction: column;
    }

    .External_Authentication_wrap {
        width: 100%;
        margin: 5px 0;
        justify-content: center;
        align-items: center;
    }

    .External_Authentication_wrap svg{
        margin: 0  20px 0 0;
    }

    .Password_Instruction{
        top: -46px;
        left: 3px;
    }
    
    .Password_Wrap{
       flex-direction: column;
    }

    .Password{
        width: 100%;
    }
}